::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

html, body {
	height: 95%;
}

body{
	padding-top:40px;
}

#main {
	height: 100%;
}

#footer {
	height: 10%;
/*	width: 100%;*/
	text-align: center;
/*	float: right;*/
	position: static;
	bottom: 0px;
/*	background: black;*/
}

#account-setting {
	margin-top: 0px;
	margin-bottom: 0px;
}

#account-setting .dropdown-menu::after {
	border-left: 0px;
	border-right: 0px;
}
