#user-main-content {
	height: 100%;
}
#user-submain-content {
	height: 100%;
}
#left {
	background: #149BDF;
	height: 100%;
}
#middle {
	height: 100%;
}
#right {
	background: #BFBFBF;
	height: 100%;
}
